# General
TZ=America/New_York
ACME_EMAIL=you@example.com
DOMAIN=example.com

# Tailscale
TAILSCALE_AUTHKEY=tskey-xxxxxxxxxxxxx
TAILSCALE_HOSTNAME=pi5-rack

# AdGuard
ADGUARD_USERNAME=admin
ADGUARD_PASSWORD=change-this-password

# Home Assistant
HOMEASSISTANT_PORT=8123

# Portainer
PORTAINER_PORT=9000

# Uptime Kuma
UPTIMEKUMA_PORT=3001

# Grafana
GRAFANA_PORT=3002

# Prometheus
PROMETHEUS_PORT=9090

# NetBox
NETBOX_PORT=8000
NETBOX_DB_NAME=netbox
NETBOX_DB_USER=netbox
NETBOX_DB_PASSWORD=change-this-password
